.grid__aside {
  padding: calc(1rem + 2vw);
  overflow: scroll;
  scrollbar-color: var(--color-primary) var(--color-background);
  scrollbar-width: none;
}

.contact,
.imprint {
  margin-top: calc(1rem + 2vw);
}

.address__link {
  font-size: calc( 0.8rem + 0.5vw);
  font-style: normal;
  display: block;
}

.imprint__text,
.copyright {
  margin-top: 1rem;
  font-size: calc( 0.8rem + 0.5vw);
  display: block;
}

.arrow {
  font-size: calc(0.8rem + 0.5vw);
  font-style: normal;
  display: inline-block;
  padding: 0.2rem;
  transition: all 0.4s ease-in-out;
}
