.grid__aside {
  padding: 2rem;
}

.contact,
.imprint {
  margin-top: 3rem;
}

.address {
  margin-top: 1rem;
}

.address__link {
  font-size: 1rem;
  font-style: normal;
  display: block;
}

.imprint__text {
  font-size: 1rem;
}