@use './generics' as *;

.grid__aside {
  padding: calc(1rem + 1vw);
  overflow: auto;
}

.contact,
.imprint {
  margin-top: calc(1rem + 2vw);
}

.address__link {
  @include font-size--small;

  font-style: normal;
  display: block;
}

.imprint__text,
.copyright {
  @include font-size--small;

  margin-top: calc( 0.5rem + 0.5vw);
  display: block;
}

.arrow {
  font-size: calc(0.8rem + 0.5vw);
  font-style: normal;
  display: inline-block;
  padding-right: calc(0.1rem + 0.5vw);
  transition: all 0.3s ease-in-out;
}
