:root {
  --color-primary: #8594FF;
  --color-secondary: #C18050;
  --color-text: #313942;
  --color-background: #F9F7F6;
}

body {
  font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
  font-weight: 300;
  font-size: calc(1rem + 0.5vw);
  line-height: auto;
  color: var(--color-text);
  background-color: var(--color-background);
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  // scrollbar
  scrollbar-color: var(--color-background) var(--color-background);
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 800px) {
    overflow: hidden;
  }
}

a {
  color: var(--color-text);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-style: italic;
}

a:visited {
  color: var(--color-text);
}

a:focus-visible {
  outline: 0.2rem dashed var(--color-primary);
  outline-offset: 0.2rem;
}

a:hover,
a:focus-visible {
  color: var(--color-primary);
}

a:hover .arrow,
a:focus-visible .arrow {
  transform: translateY(0.2rem);
}


[aria-current] {
  font-style: normal;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

abbr {
  text-decoration: none;
}

h1 {
  font-size: calc(4rem + 0.5vw);
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(133, 148, 255, 0.8) 20%, rgba(193, 128, 80, 0.72) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h1:hover {
  background: linear-gradient(100deg, rgba(193, 128, 80, 0.72) 20%, rgba(133, 148, 255, 0.8)  80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  font-size: calc(1rem + 0.5vw);
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  margin-bottom: 0.8rem;
}