@mixin font-size--small {
  font-size: calc( 0.8rem + 0.5vw);
}

@mixin font-size--medium {
  font-size: calc(1rem + 0.5vw);
}

@mixin font-size--large {
  font-size: calc(1rem + 4vw);
}

@mixin sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.sr-only {
  @include sr-only;
}