.grid {  
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "aside aside";

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
      "header header"
      "aside main";
    height: 100vh;
  }
}

.grid__header { grid-area: header; }
.grid__aside { grid-area: aside; }
.grid__main { grid-area: main; }

.grid__header {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-primary);
  padding: calc(1rem + 1vw);

  @media (min-width: 800px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }  
}

.language-switch {
  display: flex;
  gap: calc(0.1rem + 0.5vw);
  align-items: flex-start;
}