.grid__main {
  border-left: 1px solid var(--color-primary);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;
  scrollbar-color: var(--color-primary) var(--color-background);
  scrollbar-width: none;
}

.tagline {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.title {
  margin-top: 1rem;
}

.text {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.button {
  font-size: 1.5rem;
  border: 1px solid var(--color-primary);
  border-radius: 50px;
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 3.5rem;
  transition: all 0.8s ease-in-out;
}

.button:hover,
.button:focus-visible {
  transform: scale(1.02);
}

.button-text-regular {
  font-weight: 400;
  font-style: normal;
}